.ibra {
    background-image: url("../img/swm.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    color: white;
    text-align: center;
}


ul {
    list-style-type: none;
    margin-top: 0;
    padding: 50;
    overflow: hidden;
 }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.aboutmebody{
    background-color: blueviolet;
    text-align: left;

}

.projectbody{
    background-image: url("../img/sm.jpeg");
    font-size: 50px;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: 100%;
}

#odi{
    background-image: url("../img/image2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.test{
    color: orange;
    
}

.aboutmebody a{
    font-size: 40px;
    color: white;
}

.projectbody a{
    font-size: 80%;
    color: mintcream;
}

#odi a{
    font-size: 50px;
    color: white;
}

a:hover{
    background-color: #111;

}

