body {
    background-image: url("../img/image2.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    color: white;
}

.content h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 50;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}